.card{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  width: 40%;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

.card input{
  padding: 10px;
}

.card span{
  font-size: 16px;
  margin: 5px 0;
}

.card button{
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  width: 100%;
}

.groupItem{
  width: 100%;
  display: flex;
  margin: 3px 0;
}

.groupItem input{
  flex:8;
}
.groupItem label{
  flex: 2;
}




